@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --pColor: #0c0029;
  --sColor: #6521ff;
  --bold: 500;
  --regular: 300;
}
body {
width: 100vw;
  font-family: "Ubuntu", sans-serif;
  background: var(--pColor);
}

header {
  background: var(--sColor);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 100%;
}

.nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
    text-decoration: underline;

}

.first-section {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    /* me pidieron sacar el height
    height: 100vh;*/ 
    padding: 20px;
}

.first-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  40px;
    gap: 40px;
    

}
.slogan {
    font-size: 2em;
}
.img-inn {
    align-self: flex-end;
    height: 70vh;
    width: 50vw;
}

.first-container a {
  text-decoration: none;
  color:whitesmoke;
  border: 1px solid white;
  background: var(--sColor);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 20px;
}

.first-container a:hover {
  background: white;
  color: var(--sColor);
}

.first-container p{
  width: 450px;
  text-align: justify;
  text-justify: distribute;
}

.ventajas-section {
  color:white;
  text-align: center;
  padding: 10px;
}

.ventajas-section h2 {
  padding: 1rem;
}
.icon {
  color: white;
}
.beneficios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  height: 200px;
}
.img-beneficios{
  
  width: 70px;
  height: 70px;
}
.ventajas {
  padding: 10px 50px 20px 50px;
}
.beneficio1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}
.beneficio2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }
.beneficio3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }

 .how-work-section {
  color:white;
  text-align: center;
  padding: 10px;
}

.how-work-section h2{
  padding: 1rem;
}

.como-trabajamos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pasos-h3 {
  padding-bottom: 10px;
}