@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --pColor: #0c0029;
  --sColor: #6521ff;
}
body {
  font-family: "Ubuntu", sans-serif;
  background: var(--pColor);
}

header {
  background: var(--sColor);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 100%;
}

.nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
    text-decoration: underline;

}

.first-section {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    /* me pidieron sacar el height
    height: 100vh;*/ 
    padding: 20px;
}

.first-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  40px;
    gap: 40px;
    

}
.slogan {
    font-size: 2em;
}
.img-inn {
    align-self: flex-end;
    height: 70vh;
}

.first-container a {
  text-decoration: none;
  color:whitesmoke;
  border: 1px solid white;
  background: var(--sColor);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 20px;
}

.first-container a:hover {
  background: white;
  color: var(--sColor);
}

.first-container p{
  width: 450px;
  text-align: justify;
  text-justify: distribute;
}

.second-section p{
 color: white;
 padding: 20px;
 text-align: justify;
 text-justify: distribute;
}